@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Honk&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Workbench&display=swap');

* {
    margin: 0;
    padding: 0;
}

.article-container{
    /* background: linear-gradient(45deg, rgb(137, 135, 135), rgb(230, 228, 228)); */
    /* background: linear-gradient(315deg, rgb(84, 15, 168), rgb(17, 11, 196)); */
    background-image: url(https://cdn.pixabay.com/photo/2023/10/27/14/28/alps-8345488_1280.jpg);
    width: 100%;
    max-width: 60em;
    margin-left: 50%;
    transform: translateX(-50%);
    padding: 1em;
    justify-content: center;
    border-radius: 5px;
    -webkit-box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.75);
}

.image-ia {
    display: flex;
    width: 100%;
    max-width: 10em;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;

}

.description {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 5rem;
    font-style: normal;

    text-align: justify;
    color: rgb(250, 250, 250);
    width: 50vh;
    max-height: 50em;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;

    backdrop-filter: blur(30px) saturate(180%);
    -webkit-backdrop-filter: blur(20px) saturate(180%);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    /* background: linear-gradient(315deg, rgb(84, 15, 168), rgb(17, 11, 196)); */

}

/* .dancing-script-<uniquifier> {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }

  .honk-<uniquifier> {
    font-family: "Honk", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "MORF" 15,
      "SHLN" 50;
  }

  .open-sans-<uniquifier> {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

  .playfair-display-<uniquifier> {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }

  
  .workbench-<uniquifier> {
    font-family: "Workbench", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "BLED" 0,
      "SCAN" 0;
  } */

