@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Honk&family=Marvel:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Workbench&display=swap');

* {
    margin: 0;
    padding: 0;
}

.nav-container {
  background: #000;
  position: fixed;
  z-index: 1;
  width: 100%;
}

#header-container {
  max-width: 100%;
  padding-top: 3em;
  padding-bottom: 2em;
  margin-bottom: 1em;
  background: linear-gradient(45deg, lightgrey, white);
  box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.75);
}

.header-name {
  font-size: 3em;
  transform: translateX(40%);
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.header-description {
  font-size: 1.5em;
  transform: translateX(50%);
  font-family: "Workbench", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "BLED" 0,
    "SCAN" 0;
}

#article-container {
    background-image: url(https://cdn.pixabay.com/photo/2023/10/27/14/28/alps-8345488_1280.jpg);
    max-width: 60em;
    margin-left: 50%;
    transform: translateX(-50%);
    padding: 1em;
    justify-content: center;
    border-radius: 5px;
    -webkit-box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.75);
}

.image-ia {
    display: flex;
    max-width: 10em;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

.description {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 5rem;
    font-style: normal;
    text-align: justify;
    color: rgb(250, 250, 250);
    max-width: 60vh;
    max-height: 50em;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    backdrop-filter: blur(30px) saturate(180%);
    -webkit-backdrop-filter: blur(20px) saturate(180%);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.nasa-api {
  text-align: center;
  font-size: 4em;    
  padding-top: 1em;
  font-family: "Workbench", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "BLED" 0,
    "SCAN" 0;
}

.titleOfDay {
  padding: 1em;
  text-align: center;
}

.explanationOfDay {
  text-align: justify;
  max-width: 70vw;
  margin-left: 50%;
  transform: translateX(-50%);
}

.nasa-card {
  max-width: auto;
  max-height: auto;
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
}

.text-nasa-api-astronaut {
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  color: #FFF;
  background-color: #000;
  font-size: 3em;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  text-align: center;
  padding: 0.5em;
  font-size: 1em;
}

.image-ia-astronaut {
  margin-left: 50%;
  transform: translateX(-50%);
  max-width: 20%;
  border-radius: 5px;
  padding-bottom: 2em;
}

.text-nasa-api-personal {
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  color: #FFF;
  background-color: #000;
  font-size: 3em;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  text-align: center;
  padding: 0.5em;
  font-size: 1em;
}

h5 {
  background-color: #000;
}

.description-carousel {
  background-color: #000;
}

#carouselExampleIndicators {
  max-width: 20%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2em;
}

#stacks-container {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.description-stacks-container {
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  color: #FFF;
  background-color: #000;
  font-size: 3em;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  text-align: center;
  padding: 0.5em;
  font-size: 1em;
}

.cards-container {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2em;
  padding-bottom: 4em;
  display: grid;
  grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
}

.stack {
  padding: 0.3em;
}

#github-container {
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding: 3em;
  margin-bottom: 3em;
  border-radius: 8px;
  background: linear-gradient(45deg, rgb(85, 3, 132), rgb(0, 24, 208));
}

.github-title, .github-description  {
  color: #FFF;
  text-align: center;
}

.image-github-container {
  max-width: 80%;
  margin-left: 50%;
  transform: translateX(-50%);
}

.footer-container {
  width: 100%;
  padding-top: 2em;
  padding-bottom: 1em;
  background: linear-gradient(45deg, white, lightgrey);
  box-shadow: 0px -7px 5px 0px rgba(0,0,0,0.75);
}

.footer-phrase{
  font-size: 2em;
  text-align: right;
  margin-right: 1em;
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
}

.footer-author {
  font-size: 2em;
  text-align: right;
  margin-right: 1em;
  font-family: "Workbench", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "BLED" 0,
    "SCAN" 0;
}

#alert-container {
  padding: 0.5em;
  text-align: center;
  margin-left: 50vw;
  transform: translateX(-50%);
}

.footer-developer {
  text-align: center;
  font-size: 2.2em;
  font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "MORF" 15,
    "SHLN" 50;
    padding-bottom: 0.5em;
}